<br>
<div id="jumbotron">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6">
          <h5 class="card-subtitle mb-2" >
            <img src="assets/img/brand/user-identity4.png" /> Users</h5>
        </div>
        <div class="col-6 col-sm-6 col-md-6">
          <div class="container text-right">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12">
                <div class="form-group input-group input-group-sm">
                  <div class="img-group-prepend">
                    <img src="assets/img/brand/search16px.png" /> &nbsp;
                  </div>
                  <input [(ngModel)]="searchText" class="form-control form-control-sm" type="text"
                    placeholder="Search..">
                </div>
              </div>
              <!-- <div class="col-1 col-sm-1 col-md-1">
                <img src="assets/img/brand/broom16px.png" (click)="clear_search()" tooltip="clear" />
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
      <button type="button" class="btn btn-info btn-sm" (click)="toggle()" *ngIf="show_btnCreateUser">Create New
        User</button>
      <h5 for="new" *ngIf="show_lblAddNewUser"> Add New User </h5>
      <h5 for="edit" *ngIf="show_lblEditUserDetail"> Edit User </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 ScrollStyle">
      <table class="table table-sm">
        <tr ngclass="btn-primary">
          <th hidden="true">userkey</th>
          <th>User Id</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
        <tr *ngFor="let user of Users | grdFilter: {UserId: searchText,FirstName: searchText, LastName: searchText}">
          <td hidden="true">{{user.UserKey}}</td>
          <td> <a [routerLink]="" (click)="getUserById(user.UserKey)">{{user.UserId}}</a> </td>
          <td>{{user.FirstName}}</td>
          <td>{{user.LastName}}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="row" *ngIf="show_addupdateUser">
        
          <form name="form" (ngSubmit)=" f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="container">
              <div class="form-group">
                <br>
                <label for="user"> <b> User detail </b> </label>
                <div class="row" hidden="true">
                  <div class="form-group input-group input-group-sm col-md-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">UserKey</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.UserKey" id="UserKey"
                      name="UserKey" #UserKey="ngModel">
                  </div>

                  <div class="form-group input-group input-group-sm col-md-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Address Key</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.AddrKey"
                      name="AddrKey" #AddrKey="ngModel">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-12">
                    <div class="input-group-prepend">
                      <span class="input-group-text">User Id</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" name="UserId" [(ngModel)]="dataModel.UserId"
                      #UserId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && UserId.invalid }" required
                      minlength="6" />

                    <div *ngIf="f.submitted && UserId.invalid" class="invalid-feedback">
                      <div *ngIf="UserId.errors.required"> User Id is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-12">
                    <div class="input-group-prepend">
                      <span class="input-group-text">First Name</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.FirstName"
                      id="FirstName" name="FirstName" #FirstName="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && FirstName.invalid }" required>
                    <div *ngIf="f.submitted && FirstName.invalid" class="invalid-feedback">
                      <div *ngIf="FirstName.errors.required"> First Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-12">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Last Name</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.LastName"
                      id="LastName" name="LastName" #LastName="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && LastName.invalid }" required>
                    <div *ngIf="f.submitted && LastName.invalid" class="invalid-feedback">
                      <div *ngIf="LastName.errors.required"> Last Name is required</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-12">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Password</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Password"
                      id="Password" name="Password" #Password="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && Password.invalid }" required>
                    <div *ngIf="f.submitted && Password.invalid" class="invalid-feedback">
                      <div *ngIf="Password.errors.required"> Password is required</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-group">
                <label for="legno"> <b> Address </b> </label>
                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-12">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Line 1</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.Address1"
                      name="Address1" #Address1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Address1.invalid }"
                      required>
                    <div *ngIf="f.submitted && Address1.invalid" class="invalid-feedback">
                      <div *ngIf="Address1.errors.required"> Address line 1 is required</div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-12">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Line 2</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.Address2"
                      name="Address2" #Address2="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Address2.invalid }" required>
                    <div *ngIf="f.submitted && Address2.invalid" class="invalid-feedback">
                      <div *ngIf="Address2.errors.required"> Address line 2 is required</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text">City</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.City"
                      name="City" #City="ngModel" [ngClass]="{ 'is-invalid': f.submitted && City.invalid }" required>
                    <div *ngIf="f.submitted && City.invalid" class="invalid-feedback">
                      <div *ngIf="City.errors.required"> City is required</div>
                    </div>
                  </div>
                  <div class="form-group input-group input-group-sm col-md-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">State</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.State"
                      name="State" #State="ngModel" [ngClass]="{ 'is-invalid': f.submitted && State.invalid }" required>
                    <div *ngIf="f.submitted && State.invalid" class="invalid-feedback">
                      <div *ngIf="State.errors.required"> State is required</div>
                    </div>
                  </div>
                  <div class="form-group input-group input-group-sm col-md-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Zip</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.Zip"
                      name="Zip" (keypress)="numberOnly($event)" appBlockCopyPaste #Zip="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && Zip.invalid }" required minlength="3" maxlength="3">
                    <div *ngIf="f.submitted && Zip.invalid" class="invalid-feedback">
                      <div *ngIf="Zip.errors.required"> Zip is required</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Country</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.Country"
                      name="Country" #Country="ngModel">
                  </div>
                  <div class="form-group input-group input-group-sm col-md-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Website</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.Website"
                      name="Website" #Website="ngModel" appBlockCopyPaste>

                  </div>
                </div>
                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Phone</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.Phone"
                      name="Phone" #Phone="ngModel" (keypress)="numberOnly($event)" appBlockCopyPaste>

                  </div>
                  <div class="form-group input-group input-group-sm col-md-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Fax</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.Fax"
                      name="Fax" #Fax="ngModel" (keypress)="numberOnly($event)" appBlockCopyPaste>
                  </div>
                </div>


                <div class="row">
                  <div class="form-group input-group input-group-sm col-md-12">
                    <div class="input-group-prepend">
                      <span class="input-group-text">E-mail</span>
                    </div>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="dataModel.Address.Email"
                      name="Email" #Email="ngModel" appBlockCopyPaste>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-6 col-sm-6 col-md-6">

                </div>
                <div class="col-1 col-sm-1 col-md-1 text-left">
                  <!-- <button type="reset" *ngIf="isResetbtnhidden" class="btn btn-primary btn-sm"
                    (click)="resetForm()">Clear</button> -->
                </div>
                <div class="col-2 col-sm-2 col-md-2 text-right">
                  <button type="reset" class="btn btn-primary btn-sm" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-1 col-sm-1 col-md-1 text-right">
                  <button class="btn btn-primary btn-sm">Submit</button>
                </div>
              </div>
              <br>
            </div>
          </form>
       
      </div>
      <div class="row" *ngIf="show_UserInfo">
        <div class="container text-right">
          <span style="color:green;" (click)="bindFormControls()"> <i class="fa fa-pencil" aria-hidden="true"></i>
            <b> edit</b>..</span>
        </div>
        <div class="container ml-2">

          <h5> {{dataModel.UserId}} </h5>

          <span class="text-muted">FirstName </span> <br>
          <span><b> {{dataModel.FirstName}} </b></span> <br>

          <span class="text-muted">LastName </span> <br>
          <span><b> {{dataModel.LastName}} </b>
          </span>
          <br><br>

          <span class="text" style="color: chocolate;"> <b> Address </b></span><br>

          <span class="text-muted">Line 1 :<b> {{dataModel.Address.Address1}}</b> </span><br>
          <span class="text-muted">Line 2 :<b> {{dataModel.Address.Address2}}</b> </span> <br>
          <span class="text-muted">City :<b> {{dataModel.Address.City}} </b></span> <br>
          <span class="text-muted">State :<b> {{dataModel.Address.State}} </b></span> <br>
          <span class="text-muted">Zip :<b> {{dataModel.Address.Zip}} </b></span> <br>
          <span class="text-muted">Country: <b> {{dataModel.Address.Country}} </b></span> <br><br>
          <span class="text-muted">Website <b> {{dataModel.Address.Website}} </b></span> <br><br>
          <span class="text-muted">Email </span><br>
          <span><b> {{dataModel.Address.Email}} </b></span> <br><br>

          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <span class="text-muted">Fax </span><br>
              <span><b> {{dataModel.Address.Fax}} </b></span>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <span class="text-muted">Mobile </span><br>
              <span><b> {{dataModel.Address.Phone}} </b></span>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>