<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <tabset  type="tabs" (click)="onClick($event)" >
            <tab   title="Disabled" [disabled]="false"   >
              <ng-template tabHeading>
                  doIntake 
              </ng-template>
              <app-dointake [orderKeyinput]=orderKeyinput></app-dointake>
            </tab>
           
            <tab >
              <ng-template tabHeading>
                  Scheduler
              </ng-template>
              <app-scheduler [orderKeyinput]=orderKeyinput></app-scheduler>
            </tab>
            <tab [disabled]="true">
              <ng-template tabHeading >
                Despatch
              </ng-template>
            </tab>
            <tab [disabled]="true">
              <ng-template tabHeading>
                Billing
              </ng-template>
            </tab>
          </tabset>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
   -->

<div class="modal-body">
  <!-- <div class="row">
    <div class="col-md-3">
      <div class="card text-white">
        <div class="card-body">
          <h5 class="card-subtitle mb-2" style="color:black">Order# : {{order.OrderNo}} </h5>
          <p class="card-subtitle mb-2" style="color:black"> Date: <span class="badge badge-pill badge-danger"
              style="color:white">{{order.OrderDate}}</span></p>
          <p class="card-subtitle mb-2" style="color:black"> Type: <span class="badge badge-pill badge-danger"
              style="color:black">{{order.OrderTypeDescription}}</span></p>
          <p class="card-subtitle mb-2" style="color:black"> Status: <span class="badge badge-pill badge-danger"
              style="color:black">{{order.OrderStatusDescription}}</span></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-white">
        <div class="card-body">
          <p class="card-subtitle mb-2" style="color:black"> Customer: <span class="badge badge-pill badge-danger"
              style="color:white"></span></p>
          <p class="card-subtitle mb-2" style="color:black"> Broker: <span class="badge badge-pill badge-primary"
              style="color:black">{{order.BrokerName}}</span></p>
          <p class="card-subtitle mb-2" style="color:black"> Broker Ref#: : <span class="badge badge-pill badge-primary"
              style="color:black">{{order.BrokerRefNo}}</span></p>
          <p class="card-subtitle mb-2" style="color:black"> Booking# : <span class="badge badge-pill badge-primary"
              style="color:black">{{order.BookingNo}}</span></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-white">
        <div class="card-body">

          <p class="card-subtitle mb-2" style="color:black"> Vessel: <span class="badge badge-pill badge-primary"
              style="color:black">{{order.VesselName}}</span></p>
          <p class="card-subtitle mb-2" style="color:black"> Bill of Lading :<span
              class="badge badge-pill badge-primary" style="color:black">{{order.BillofLading}}</span></p>
          <p class="card-subtitle mb-2" style="color:black"> Cut-Off Date : <span class="badge badge-pill badge-primary"
              style="color:black">{{order.CutOffDate}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white">
        <div class="card-body">
          <p class="card-subtitle mb-2" style="color:black"> Pickup : <span class="badge badge-pill badge-primary"
              style="color:black"></span></p>
          <p class="card-subtitle mb-2" style="color:black"> Consignee : <span class="badge badge-pill badge-primary"
              style="color:black"></span></p>
          <p class="card-subtitle mb-2" style="color:black"> Return : <span class="badge badge-pill badge-primary"
              style="color:black"></span></p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-3">
      <h5 class="card-subtitle mb-2" style="color:grey">Order# : {{order.OrderNo}} </h5>
      <p class="card-subtitle mb-2" style="color:grey"> Date: {{order.OrderDate}}</p>
      <p class="card-subtitle mb-2" style="color:grey"> Type: {{order.OrderTypeDescription}}</p>
      <p class="card-subtitle mb-2" style="color:grey"> Status: {{order.OrderStatusDescription}}</p>
    </div>

    <div class="col-md-3">
      <p class="card-subtitle mb-2" style="color:grey"> Customer: <span class="badge badge-pill badge-danger"
          style="color:white"></span></p>
      <p class="card-subtitle mb-2" style="color:grey"> Broker: {{order.BrokerName}}</p>
      <p class="card-subtitle mb-2" style="color:grey"> Broker Ref#: {{order.BrokerRefNo}}</p>
      <p class="card-subtitle mb-2" style="color:grey"> Booking# : {{order.BookingNo}}</p>
    </div>

    <div class="col-md-3">
      <p class="card-subtitle mb-2" style="color:grey"> Vessel:{{order.VesselName}}</p>
      <p class="card-subtitle mb-2" style="color:grey"> Bill of Lading :{{order.BillofLading}}</p>
      <p class="card-subtitle mb-2" style="color:grey"> Cut-Off Date : {{order.CutOffDate|date}}</p>
    </div>
    <div class="col-md-3">
      <p class="card-subtitle mb-2" style="color:grey"> Pickup : <span class="badge badge-pill badge-primary"
          style="color:black"></span></p>
      <p class="card-subtitle mb-2" style="color:grey"> Consignee : <span class="badge badge-pill badge-primary"
          style="color:black"></span></p>
      <p class="card-subtitle mb-2" style="color:grey"> Return : <span class="badge badge-pill badge-primary"
          style="color:black"></span></p>
    </div>
  </div>
  <tabset type="tabs" (click)="onClick($event)">
    <tab title="Disabled" [disabled]="false">
      <ng-template tabHeading>
        doIntake
      </ng-template>
      <app-dointake [orderKeyinput]=orderKeyinput></app-dointake>
    </tab>

    <tab>
      <ng-template tabHeading>
        Scheduler
      </ng-template>
      <app-scheduler [orderKeyinput]=orderKeyinput></app-scheduler>
    </tab>
    <tab [disabled]="false">
      <ng-template tabHeading>
        Dispatch
      </ng-template>
      <app-dispatch [orderKeyinput]=orderKeyinput></app-dispatch>
    </tab>
    <tab [disabled]="true">
      <ng-template tabHeading>
        Billing
      </ng-template>
    </tab>
  </tabset>
</div>