<app-header [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/lorry24px.png', alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/large-tiles-icon16px.png', width: 40, height: 40, alt: 'CoreUI Logo'}"
  [sidebarToggler]="false" [mobileSidebarToggler]="false" [asideMenuToggler]="true">

  <ul class="nav navbar-nav d-md-down-none mr-auto">
    <li class="nav-item px-3" *ngIf="Show_Dashboard">
      <a class="nav-link" [routerLink]="['/dashboard']" (click)="changeColor('Dashboard')">
        <!-- <i class="fa fa-dashboard"></i>  -->
        <!-- <img src="assets/img/brand/large-tiles-icon16px.png" /> -->
        <strong [ngStyle]="{'color':lblDashboardColor}" > <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</strong></a>
    </li>
    <li class="nav-item px-3" *ngIf="Show_Orders">
      <a class="nav-link" routerLink="/doIntake" (click)="changeColor('Orders')"> 
        <!-- <img src="assets/img/brand/standard-notes-icon16px.png" /> -->
        &nbsp;  <strong [ngStyle]="{'color':lblOrdersColor}" ><i class="fa fa-window-restore" aria-hidden="true"></i> Orders</strong></a>
      <!-- <i class="fa fa-plus-circle" aria-hidden="true"></i> -->
    </li>

    <!-- <li class="nav-item px-3">
      <a class="nav-link" style="color: darkblue;" routerLink="/Containers"> <img src="assets/img/brand/schedule-icon16px.png" />
        &nbsp; Containers</a>    
    </li> -->

    <li class="nav-item px-3" *ngIf="Show_Scheduler">
      <a class="nav-link" routerLink="/Scheduler" (click)="changeColor('Scheduler')"> 
        <!-- <img src="assets/img/brand/schedule-icon16px.png" /> -->
        <!-- <img src="assets/img/brand/overtime24px.png" style="color: cornflowerblue;" /> -->
        &nbsp;  <strong [ngStyle]="{'color':lblSchedulersColor}" ><i class="fa fa-clock-o" aria-hidden="true"></i> Scheduler</strong></a>
        <!-- <i class="cil-caret-bottom" style="color: cornflowerblue;"></i> -->
      <!-- <i class="fa fa-plus-circle" aria-hidden="true"></i> -->
    </li>

    <li class="nav-item px-3" *ngIf="Show_Dispatch">
      <a class="nav-link" routerLink="/DispatchDelivery" (click)="changeColor('Dispatch')">
        <!-- <img src="assets/img/brand/system-box-icon16px.png" />  -->
         <strong [ngStyle]="{'color':lblDispatchColor}" ><i class="fa fa-taxi" aria-hidden="true"></i> Dispatch</strong>
      </a>
      <!-- <div class="dropdown show">
       
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/DispatchAssignment"> Dispatch Assignment</a>
          <a class="dropdown-item" routerLink="/DispatchDelivery">Dispatch Delivery</a>
        </div>
      </div> -->
    </li>
    <li class="nav-item px-3" *ngIf="Show_Invoice">
      <a class="nav-link" routerLink="/GetOrderstoGenerateInvoice" (click)="changeColor('Invoice')"> 
        <!-- <img src="assets/img/brand/Cash-icon.png" /> -->
        &nbsp; <strong  [ngStyle]="{'color':lblInvoiceColor}" ><i class="fa fa-barcode" aria-hidden="true"></i> Invoice</strong></a>
      <!-- <i class="fa fa-plus-circle" aria-hidden="true"></i> -->
      <!-- <div class="dropdown show">
        <a class="nav-item" style="color: darkblue;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="assets/img/brand/invoice-icon16px.png" /> Invoice
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/GetOrderstoGenerateInvoice">Create Invoice</a>
          <a class="dropdown-item" routerLink="/GetInvoiceList">Invoice List</a>
        </div>
      </div> -->
    </li>
    <li class="nav-item px-3" *ngIf="Show_Admin">
      <div class="dropdown show">
        <a class="nav-link" role="button" id="dropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <!-- <img src="assets/img/brand/setting-icon16px.png" />  -->          
          <strong [ngStyle]="{'color':lblAdminColor}"><i class="fa fa-cogs" aria-hidden="true"></i> Admin</strong>  
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/Customers" (click)="changeColor('Admin')"> <img src="assets/img/brand/star16px.png" hspace="5" />
            Customer</a>
          <a class="dropdown-item" routerLink="/Company" (click)="changeColor('Admin')"> <img src="assets/img/brand/star16px.png" hspace="5" />
            Company</a>
          <a class="dropdown-item" routerLink="/Drivers" (click)="changeColor('Admin')"> <img src="assets/img/brand/star16px.png" hspace="5" />
            Driver</a>
          <!-- <a class="dropdown-item" routerLink="/Vendors"> <img src="assets/img/brand/star16px.png" hspace="5" />
            Vendor</a>
          <a class="dropdown-item" routerLink="/Customers"> <img src="assets/img/brand/star16px.png" hspace="5" />
            Warehouse</a>

          <a class="dropdown-item" routerLink="/Customers"> <img src="assets/img/brand/star16px.png" hspace="5" />
            Terminal</a>
          <a class="dropdown-item" routerLink="/Customers"> <img src="assets/img/brand/star16px.png" hspace="5" />
            Company</a> -->
          <a class="dropdown-item" routerLink="/Carriers" (click)="changeColor('Admin')"> <img src="assets/img/brand/star16px.png" hspace="5" />
            Carrier</a>
          <a class="dropdown-item" routerLink="/Brokers" (click)="changeColor('Admin')"><img src="assets/img/brand/star16px.png" hspace="5" />
            Broker</a>
          <a class="dropdown-item" routerLink="/Users" (click)="changeColor('Admin')"> <img src="assets/img/brand/star16px.png" hspace="5" />
            User</a>
          <a class="dropdown-item" routerLink="/Items" (click)="changeColor('Admin')"><img src="assets/img/brand/star16px.png" hspace="5" />
            Item</a>
          <a class="dropdown-item" routerLink="/City" (click)="changeColor('Admin')"><img src="assets/img/brand/star16px.png" hspace="5" />
            City</a>

          <a class="dropdown-item" routerLink="/RateSheet" (click)="changeColor('Admin')"><img src="assets/img/brand/star16px.png" hspace="5" /> Rate
            Sheet</a>
          <a class="dropdown-item" routerLink="/BaseRate" (click)="changeColor('Admin')"><img src="assets/img/brand/star16px.png" hspace="5" /> Base
            Rate
          </a>
          <a class="dropdown-item" routerLink="/UserPermissions" (click)="changeColor('Admin')"><img src="assets/img/brand/star16px.png" hspace="5" /> Roles & Permissions
          </a>


        </div>
      </div>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom left">
      <!-- <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false" (click)="logout()">           
        <img src="assets/img/brand/cross-icon16px.png" >
        <h6>Logout</h6>      
      </a> -->

      <strong class="font-bold" > Hi {{currentUser.firstname}}!&nbsp;&nbsp;&nbsp;</strong>
      <!-- <h5 class="badge bg-warning">Hi {{currentUser.firstname}}! </h5> -->
      
      <!-- <div class="container"> 
          <img src="assets/img/brand/customer.png" hspace="5" />
          <strong> Hi {{currentUser.firstname}}</strong> 
          <p> 
             logout
               
          </p> 
      </div>  -->

      <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="left" title="logout"
        (click)="logout()">
        <img src="assets/img/brand/delete-1-icon16px.png">
        <!-- <p class="text-danger">Logout</p> -->
      </button>
    </li>
  </ul>
</app-header>

<div class="app-body">

  <!-- <app-sidebar [fixed]="true" [display]="'lg'">
      <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized">    
    </app-sidebar-nav>    
       <app-sidebar-minimizer></app-sidebar-minimizer>   
  </app-sidebar> -->
  <!-- <app-sidebar>
    <app-navigation></app-navigation>
  </app-sidebar> -->
  <!-- Main content -->
  <main class="main bg-dark">
    <!-- Breadcrumb -->
    <!-- <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </ol> -->
    <div class="container-fluid ">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

  <!-- <app-aside [fixed]="false">
    <aside class="aside-menu">
      <div>
        <div class="dropdown-header text-center"><strong>Settings </strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>

        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </aside>
  </app-aside> -->
</div>
<app-footer>
  <span>&copy; 2020 Trikaiser</span>
</app-footer>