<app-header [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/Truck-Right-Green-icon128px.png', width: 50, height: 50, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/paper-plane-icon3.png', width: 50, height: 50, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">

  <!-- <ol class=" nav navbar-nav d-md-down-none mr-auto">
      <app-breadcrumb></app-breadcrumb>
    </ol> -->

  <ul class="nav navbar-nav d-md-down-none mr-auto">
    <li class="nav-item px-3">

      <a class="nav-link" [routerLink]="['/dashboard']">
        <!-- <i class="fa fa-dashboard"></i>  -->
        <img src="assets/img/brand/large-tiles-icon24px.png" />
        &nbsp; Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" routerLink="/doIntake"> <img src="assets/img/brand/standard-notes-icon24px.png" />
        &nbsp; DO Intake</a>
      <!-- <i class="fa fa-plus-circle" aria-hidden="true"></i> -->
    </li>
    <!-- <li class="nav-item px-3">
      <a class="nav-link" routerLink="/container">    
        <img src="assets/img/brand/clock-select-remain-icon24px.png" />
        &nbsp; Scheduler</a>
    </li>
    <li class="nav-item px-3">       
      <a class="nav-link" href="#">
          <img src="assets/img/brand/packages-icon24px.png" />
          &nbsp;Dispatch</a>
    </li>
    <li class="nav-item px-3">        
      <a class="nav-link" href="#">
          <img src="assets/img/brand/Test-paper-icon24px.png" />
          &nbsp;Review</a>
    </li>
    <li class="nav-item px-3">        
      <a class="nav-link" href="#">
          <img src="assets/img/brand/Earning-statement-icon24px.png" />
          &nbsp;Billing</a>
    </li> -->
  </ul>
  <ul class="nav navbar-nav ml-auto">

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false" (click)="logout()">
        <!-- <i class="fa fa-sign-out" aria-hidden="true">                -->
        <img src="assets/img/brand/delete-1-icon16px.png" />
        <!-- <span class="badge badge-pill badge-danger">x</span>             -->
      </a>

    </li>
  </ul>
</app-header>
<div class="app-body">

  <!-- <app-sidebar [fixed]="true" [display]="'lg'">
      <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized">    
    </app-sidebar-nav>    
       <app-sidebar-minimizer></app-sidebar-minimizer>   
  </app-sidebar> -->
  <app-sidebar>
    <app-navigation></app-navigation>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </ol> -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

  <app-aside [fixed]="true" [display]="false" style="background-color:black">
    <aside class="aside-menu">
      <div>
        <div class="dropdown-header text-center"><strong>Settings </strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>

        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </aside>
  </app-aside>
</div>
<app-footer>
  <span>&copy; 2019 Trikaiser</span>
</app-footer>