<div class="col-md-6">  
    <h2 class="text-center">{{empformlabel}}</h2>  
    <form [formGroup]="addForm" novalidate class="form">  
      <div class="form-group">  
        <label for="empId">Employee Id:</label>  
        <input type="number" formControlName="id" placeholder="Id" name="empId" class="form-control" id="empId">  
      </div>  
    
      <div class="form-group">  
        <label for="empName">Employee Name:</label>  
        <input formControlName="employee_name" placeholder="Employee Name" name="empName" class="form-control" id="empName">  
        <div class="alert  alert-danger" *ngIf="addForm.get('employee_name').hasError('required') && addForm.get('employee_name').touched">  
          Employee Name is required  
        </div>  
      </div>  
    
      <div class="form-group">  
        <label for="empSalary">Employee Salary:</label>  
        <input formControlName="employee_salary" placeholder="Employee Salary" name="employee_salary" class="form-control" id="employee_salary">  
        <div class="alert  alert-danger" *ngIf="addForm.get('employee_salary').hasError('maxlength') && addForm.get('employee_salary').touched">  
          Employee Salary is required and should less than 9 characters.  
        </div>  
      </div>  
    
      <div class="form-group">  
        <label for="empAge">Employee Age:</label>  
        <input formControlName="employee_age" placeholder="Employee Age" name="empAge" class="form-control" id="empAge">  
        <div class="alert  alert-danger" *ngIf=" addForm.get('employee_age').hasError('maxlength') && addForm.get('employee_age').touched">  
          Age is required and should less than 3 characters.  
        </div>  
      </div>  
      <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="btnvisibility" (click)="onSubmit()">Save</button>  
      <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="!btnvisibility" (click)="onUpdate()">Update</button>  
    
      <p>Form value: {{ addForm.value | json }}</p>  
    </form>  
  </div>  