<!-- <div *ngIf="selectedCustomer!=null"> -->

<!-- <div *ngIf="selectedCustomer!=null" class="btn-group btn-group-sm" role="group"
      aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-secondary">Customer</button> -->
<!-- <div class="card">
  <div class="card-header" style="height: 30px;">
    <h6 class="card-title" style="text-align:left">Customer</h6>
  </div>
  <div class="card-body dropdown bg-secondary" *ngIf="selectedCustomer!=null">    
      <button class="btn btn-secondary dropdown-toggle form-control-sm btn-block" type="button" id="drpcustomer"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img *ngIf="creditCheck" src="assets/img/brand/tick-circle-icon16px.png" />
        <img *ngIf="!creditCheck" src="assets/img/brand/close16px.png" />
       <b> {{billtoCustomerName}}</b>
      </button>
      <div class="dropdown-menu" aria-labelledby="drpBillTo">
        <li *ngFor="let cust of customer" [class.selected]="cust === selectedCustomer" (click)="onSelect(cust)">
          <a class="dropdown-item">{{cust.CustName}}</a>
        </li>
      </div> <br>      
        <small class="text-center text-capitalize" style="color:darkblue;">{{selectedCustomer.Address.Address1}} &nbsp;{{selectedCustomer.Address.Address2}}
        <br>
         {{selectedCustomer.Address.City}}, {{selectedCustomer.Address.State}}-{{selectedCustomer.Address.Zip}}</small>
    </div>   
</div> -->

<table>
  <tbody>
    <tr>
      <td> 
        <h6 class="card-title  badge badge-pill badge-primary" style="text-align:left">Bill To / Customer</h6>
          <div class="dropdown" >
            <button class="btn btn-secondary dropdown-toggle form-control-sm btn-block" 
            style="border-radius: 1rem; margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 0px;
            margin-left: 0px;
            max-width: 280px;
            min-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <img *ngIf="creditCheck" src="assets/img/brand/tick-circle-icon16px.png" />
              <img *ngIf="!creditCheck" src="assets/img/brand/delete-1-icon16px.png" />
              <small><b > {{billtoCustomerName}}</b></small>
            </button>
            <div class="dropdown-menu" >
              <form class="px-4 py-2">
                <input type="search" class="form-control  form-control-sm" placeholder="search.." autofocus="autofocus"
                (input)="onSearchChange($event.target.value)">
            </form>
            <div class="menuItems">
              <li *ngFor="let cust of customerFilter;  let ind=index;" [class.selected]="cust === selectedCustomer" (click)="onSelect(cust)">
                <a class="dropdown-item">{{cust.CustName}} -  {{cust.Address.City}}</a>
              </li></div>             
            </div>
          </div>  
      </td>      
    </tr>
    <tr *ngIf="selectedCustomer">
      <td>
        <div style="margin: 5px;">
        <p class="text-left text-capitalize" >
          <small><b style="word-wrap: break-word;color: #CCCC99;" >{{selectedCustomer.CustName}}</b></small><br>
          {{selectedCustomer.Address.Address1}},&nbsp;{{selectedCustomer.Address.Address2}}
          <br>
          {{selectedCustomer.Address.City}} {{selectedCustomer.Address.State}} {{selectedCustomer.Address.Zip}}</p>          
        </div>
      </td>
    </tr>
  </tbody>
</table>



<!-- 
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{billtoCustomerName}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li *ngFor="let cust of customer" [class.selected]="cust === selectedCustomer" (click)="onSelect(cust)">
            <a class="dropdown-item">{{cust.CustName}}</a>
          </li>
    </div>
  </div> -->


<!-- </div> -->


<!-- <div class="input-group input-group-sm" >
        <div class="input-group-prepend">
          <span class="input-group-text">Customer</span>
        </div>
        <br>
        <select class="form-control form-control-sm"
        (change)="onSelect(cust)" [value]=customerKeyTobind>
         <option value="cust.CustKey" *ngFor="let cust of customer">{{cust.CustName}}</option>
       </select>
      </div>  -->

<!-- <div class="form-row "><p>{{selectedCustomer.Address1}} </p> </div> 
          <div class="form-row "> <p> {{selectedCustomer.Address2}} ,  {{selectedCustomer.City}} </p>  </div> 
          <div class="form-row ">  <p> {{selectedCustomer.State}} {{selectedCustomer.Zip}}</p>  </div>  -->

<!-- <div class="form-row ">                        
             <div class="form-group">
              <input type="text" class="form-control form-control-sm" id="inputAddress" placeholder="Address1"
                [(ngModel)]="selectedCustomer.Address1">
            </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" id="inputAddress2" placeholder="Address2"
                [(ngModel)]="selectedCustomer.Address2">
            </div>
            <div class="form-row ">
              <div class=" col-md-5">
                <input type="text" class="form-control form-control-sm" id="inputCity" placeholder="City"
                  [(ngModel)]="selectedCustomer.City">
              </div>
              <div class="col-md-4">            
                <input type="text" class="form-control form-control-sm" name="inputState"  id="inputState" placeholder="State"
                  [(ngModel)]="selectedCustomer.State">
              </div>
              <div class=" col-md-3">
                <input type="text" class="form-control form-control-sm" id="inputZip" placeholder="Zip"
                  [(ngModel)]="selectedCustomer.Zip">
              </div>            
            </div> -->
<!-- </div> -->

<!-- <div class="btn-group dropdown-menu-right">                 
    <div *ngIf="selectedCustomer!=null">       
        <div class="form-group ">
            <button class="btn btn-secondary dropdown-toggle form-control-sm" type="button" id="drpBillTo" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
            {{billtoCustomerName}}
            </button>
            <div class="dropdown-menu" aria-labelledby="drpBillTo">
                <li *ngFor="let Address of customer" [class.selected]="Address === selectedCustomer" (click)="onSelect(Address)">
                  <a class="dropdown-item">{{Address.Name}}</a>
                </li>
            </div>
      </div> 
        <div class="form-group ">
          <input type="text" class="form-control form-control-sm" id="inputAddress" placeholder="Address1"
            [(ngModel)]="selectedCustomer.Address1">
        </div>
        <div class="form-group ">
          <input type="text" class="form-control form-control-sm" id="inputAddress2" placeholder="Address2"
            [(ngModel)]="selectedCustomer.Address2">
        </div>
        <div class="form-row">
          <div class=" col-md-5">
            <input type="text" class="form-control form-control-sm " id="inputCity" placeholder="City"
              [(ngModel)]="selectedCustomer.City">
          </div>
          <div class="col-md-4">            
            <input type="text" class="form-control form-control-sm " name="inputState"  id="inputState" placeholder="State"
              [(ngModel)]="selectedCustomer.State">
          </div>
          <div class=" col-md-3">
            <input type="text" class="form-control form-control-sm" id="inputZip" placeholder="Zip"
              [(ngModel)]="selectedCustomer.Zip">
          </div>
        </div>
    </div>                                              
  </div> -->