<br>
<div class="accordion" id="accordionExample">
  <div class="card text-white border-dark bg-secondary">
    <div class="card-header" >
      <h6 class="mb-0">
         Order Summary
      </h6>
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">Order Detail</h5> -->
        <h6 class="card-subtitle mb-2 text-muted">Delivery Order info</h6><br>
        <p class="card-subtitle mb-2 text-muted">Orderno  <span style="color:blue">{{orderinfo.OrderNo}}</span> </p>
        <p class="card-subtitle mb-2 text-muted">  Date   <span style="color:black">{{orderinfo.OrderDate}}</span></p>
        <p class="card-subtitle mb-2 text-muted">  Status    <span style="color:orange">{{orderinfo.statusdescription}}</span> </p><br>
        <p class="card-subtitle mb-2 text-muted">  BrokerRefNo    <span style="color:orange">{{orderinfo.BrokerRefNo}}</span> </p><br>
        <p class="card-subtitle mb-2 text-muted">  VesselName    <span style="color:orange">{{orderinfo.VesselName}}</span> </p><br>
        <p class="card-subtitle mb-2 text-muted">  BillofLading    <span style="color:orange">{{orderinfo.BillofLading}}</span> </p><br>
        
        <p class="card-subtitle mb-2 text-muted">  containerSize    <span style="color:orange">{{orderinfo.orderdetails.containerSize}}</span> </p><br>
                
        <table class="table table-sm table-borderless">    
          <tbody>
            <tr>
              <td>               
                <div class="card text-white border-primary bg-primary mb-3" >
                    <div class="card-header">Customer</div>
                    <div class="card-body">
                      <h5 class="card-title">Customer Details</h5>
                       <p class="card-text">   MaerskLine </p>
                       <p class="card-text">   Milestone Buildcon</p>
                       <p class="card-text">   bhartiya city, Chokanahalli</p>
                       <p class="card-text">   Bengaluru, Karnataka 560064 </p>
                       <p class="card-text">   India 560064 </p>       
                  
                    </div>
                  </div>
              </td>
              <td>
                  <div class="card text-white bg-secondary  mb-3" >
                      <div class="card-header">Pickup/Loading</div>
                      <div class="card-body">
                        <h5 class="card-title">Customer Details</h5>
                         <p class="card-text">   MaerskLine </p>
                         <p class="card-text">   Milestone Buildcon</p>
                         <p class="card-text">   bhartiya city, Chokanahalli</p>
                         <p class="card-text">   Bengaluru, Karnataka 560064 </p>
                         <p class="card-text">   India 560064 </p>       
                    
                      </div>
                    </div>
              </td>
              <td>               
                <div class="card text-white bg-info mb-3" >
                    <div class="card-header">Consignee</div>
                    <div class="card-body">
                      <h5 class="card-title">Customer Details</h5>
                       <p class="card-text">   MaerskLine </p>
                       <p class="card-text">   Milestone Buildcon</p>
                       <p class="card-text">   bhartiya city, Chokanahalli</p>
                       <p class="card-text">   Bengaluru, Karnataka 560064 </p>
                       <p class="card-text">   India 560064 </p>       
                  
                    </div>
                  </div>
              </td>
              <td>
                  <div class="card text-white bg-info mb-3" >
                      <div class="card-header">Return</div>
                      <div class="card-body">
                        <h5 class="card-title">Customer Details</h5>
                         <p class="card-text">   MaerskLine </p>
                         <p class="card-text">   Milestone Buildcon</p>
                         <p class="card-text">   bhartiya city, Chokanahalli</p>
                         <p class="card-text">   Bengaluru, Karnataka 560064 </p>
                         <p class="card-text">   India 560064 </p>       
                    
                      </div>
                    </div>
              </td>
            </tr>
            <tr>
              <td> 
                  <div class="card text-white bg-dark mb-4" >
                      <div class="card-header">Broker</div>
                      <div class="card-body">
                        <h5 class="card-title">Customer Details</h5>
                         <p class="card-text">   MaerskLine </p>
                         <p class="card-text">   Milestone Buildcon</p>
                         <p class="card-text">   bhartiya city, Chokanahalli</p>
                         <p class="card-text">   Bengaluru, Karnataka 560064 </p>
                         <p class="card-text">   India 560064 </p>       
                    
                      </div>
                    </div>
              </td>  
                <!-- <td rowspan="2" colspan="2"> -->
                  <td>
                    <div class="card" >
                        <div class="card-header" >        
                             Order Detail info       
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="overflow-x: auto">
                                <table id="containerAttributes" class="table table-sm" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Container No</th>
                                            <th scope="col">Container Size</th>
                                            <th scope="col">Chassis_No</th>
                                            <th scope="col">Seal No</th>
                                            <th scope="col">Weight in lbs</th>
                                            <th scope="col">appt date From</th>
                                            <th scope="col">appt date To</th>
                                            <!-- <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Hold_Reason</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Action</th> -->
                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let field of orderinfo.orderdetails; let i = index">
                                            <td>{{field.ContainerSize}} </td>
                                            <td>
                                                <select id="drpcontainerType" class="form-control form-control-sm text-primary"
                                                    aria-placeholder="containerNo" name="{{field.ContainerNo}}" [(ngModel)]="field.ContainerNo">
                                                    <option value=1>20DRY</option>
                                                    <option value=2>40DRY</option>
                                                    <option value=3>40HDRY</option>
                                                    <option value=4>45HDRY</option>
                                                    <option value=5>20OPEN</option>
                                                    <option value=6>40OPEN</option>
                                                    <option value=7>20FLAT</option>
                                                    <option value=8>40FLAT</option>
                                                </select>
                                            </td>          
                                            <td> {{field.Chassis}}</td>
                                            <td> {{field.SealNo}}</td>
                                            <td> {{field.Weight}}</td>
                                            <td> {{field.AppDateFrom}}</td>
                                            <td> {{field.ApptDateTo}} </td>
                                            <!-- <td> {{field.Status}}</td>
                                            <td> {{field.StatusDate}}</td>
                                            <td> {{field.HoldReason}}</td>
                                            <td> {{field.HoldDate}}</td>-->
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    
                      </div>
  
                </td>           
            </tr>
            <tr>
              <td ></td>
              
              <td></td>
            </tr>
          </tbody>
        </table>
        <!-- <p class="card-text" style="color:darkslategray">Comment :We use cookies for statistical analysis and to improve the friendliness and usability 
            of our website. By visiting our website,  you consent to our and third party use of cookis as described 
            in our privacy and cookie policy. We use cookies for statistical analysis and to improve the friendliness and usability 
            of our website. By visiting our website,  you consent to our and third party use of cookis as described 
            in our privacy and cookie policy..</p> -->
        
    </div> 

  </div>

 
</div>