
<!-- <div *ngIf="!ContainerDetails|| ContainerDetails.length === 0" class="row">
     <p>No customer found </p> 
     *ngIf="ContainerDetails ||ContainerDetails.length > 0"
</div>  -->

<div   class="table-responsive" style="overflow-x: auto">
  <table id="containerAttributes" class="table table-borderless" cellspacing="0" width="100%">
     
      <tbody>
         
          <tr *ngFor="let field of ContainerDetails; let i = index">
              <td>
              <div class="row">
                  <div class="col-md-12">
                      <div class="card text-white bg-secondary mb-3">
                          <div class="card-header">
                              <div class="row">
                                  <div class="col-md-3">                        
                                      <p class="card-subtitle mb-2" style="color:white">Container :  <span  class="badge badge-pill badge-primary" style="color:white"> {{field.ContainerSize}}</span> </p>
                                                  
                                  </div>
                                 
                              </div>
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-3">                        
                                                                          
                                      <table class="table table-sm table-borderless bg-secondary">
                                          <tbody>
                                            <tr>
                                              <td>  
                                                  <p class="card-subtitle mb-2" style="color:white"> Container Size: 
                                                     <span  class="badge badge-pill badge-primary" style="color:white"> 
                                                        <!-- <select id="drpcontainerType" aria-readonly="true" class="form-control form-control-sm text-primary"
                                                        aria-placeholder="containerNo" name="{{field.ContainerNo}}" [(ngModel)]="field.ContainerNo">
                                                        <option value=1>20DRY</option>
                                                        <option value=2>40DRY</option>
                                                        <option value=3>40HDRY</option>
                                                        <option value=4>45HDRY</option>
                                                        <option value=5>20OPEN</option>
                                                        <option value=6>40OPEN</option>
                                                        <option value=7>20FLAT</option>
                                                        <option value=8>40FLAT</option>
                                                    </select>                                                      -->
                                                    {{field.ContainerSizeDesc}} 
                                                    </span> 
                                                  </p>                                                   
                                               </td>                                                                
                                            </tr>
                                            <tr>
                                              <td>
                                                  <p class="card-subtitle mb-2" style="color:white"> SealNo: 
                                                      <span  class="badge badge-pill badge-primary" style="color:white"> {{field.SealNo}} </span> </p>

                                              </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <p class="card-subtitle mb-2" style="color:white"> Chassis :
                                                        <span class="badge badge-pill badge-danger" style="color:white">{{field.Chassis}}</span></p>     
                                        
                                                </td>
                                              </tr>

                                              <tr>
                                                  <td>
                                                      <p class="card-subtitle mb-2" style="color:white"> Weight :
                                                          <span class="badge badge-pill badge-danger" style="color:white">{{field.Weight}}</span></p>     
                                          
                                                  </td>
                                                </tr>
                                           
                                          </tbody>
                                        </table>


                                  </div>
                                  <div class="col-md-9">                        
                                      
                                        <div class="row">
                                            <div class="row col-sm-6">
                                                <label class="col-sm-4 col-form-label" >Date From</label> 
                                                <div>
                                                   <input class="col-sm-8" type="text" bsDatepicker [bsConfig]="bsConfig" name="{{field.AppDateFrom}}" 
                                                    [(ngModel)]="field.AppDateFrom" class="form-control form-control-sm text-primary" />
                                                </div>
                                              </div>

                                              <div class="row col-sm-6">
                                                  <label class="col-sm-4 col-form-label"> Date To</label> 
                                                  <div >                                                      
                                                      <input class="col-sm-8" type="text" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="field.AppDateTo"
                                                      class="form-control form-control-sm text-primary" name="{{field.AppDateTo}}" />                                                            
                                                </div>
                                                </div>
                                              </div>

                                              <div class="row">
                                                  <div class=" row col-sm-6">
                                                      <label  class="col-sm-4 col-form-label">Status</label>
                                                      <div>
                                                          <select id="drpStatus" class="form-control form-control-sm bg-light col-sm-8"  name="{{field.Status}}"
                                                              [(ngModel)]="field.Status" >
                                                              <option value=1>In Progress</option>
                                                              <option value=2>Credit Denied</option>
                                                              <option value=3>Sent to Scheduler</option>
                                                              <option value=4>Sent to Dispatch</option>
                                                              <option value=5>On Hold</option>
                                                              <option value=6>Sent to Billing</option>
                                                              <option value=7>Invoice Generated</option>
                                                              <option value=8>Reviewed</option>
                                                              <option value=9>Complete</option>
                                                          </select>
                                                      </div>
                                                    </div>
    
                                                    <div class=" row col-sm-6">
                                                        <label class="col-sm-4 col-form-label">Status Date</label>
                                                        <div >                                                      
                                                            <input type="text" class="col-sm-8" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="field.StatusDate"
                                                            class="form-control form-control-sm text-primary" name="{{field.StatusDate}}" />
                                        
                                                      </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="row col-sm-6">
                                                            <label class="col-sm-4 col-form-label">Hold Reason</label>
                                                            <div>                                                                  
                                                              <select id="drpHoldReason" class="form-control form-control-sm bg-light col-sm-8" name="{{field.HoldReason}}"
                                                                    [(ngModel)]="field.HoldReason">
                                                                    <option value=1>No Confirmation From Customer</option>
                                                                    <option value=2>Driver Availability</option>
                                                                    <option value=3>Container Availability</option>
                                                            </select>                                                    
                                                            </div>
                                                          </div>
          
                                                          <div class="row col-sm-6">
                                                              <label class="col-sm-4 col-form-label">Reason Date</label>
                                                              <div >                                                      
                                                                  <input type="text" class="col-sm-8" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="field.HoldDate"
                                                                  class="form-control form-control-sm text-primary" name="{{field.HoldDate}}" />                                                           
                                                              </div>
                                                          </div>
                                                        </div>  
                                                        
                                                        <div class="row">
                                                            <div class="row col-sm-9">
                                                                
                                                              </div>
              
                                                              <div class="row col-sm-3">
                                                                  <button class="btn btn-primary btn-pill btn-sm" type="button" (click)="ScheduleFieldValue(field)">Schedule</button>                                            
                                                              </div>
                                                            </div>  
                                                  
                                               
                                    </div>
                                 
                              </div>
                             
                          </div>
                        </div>
      
                    </div>
                   
                     
              </div>

            </td>
            <!-- <td style="display:none"> <input [(ngModel)]="field.OrderDetailKey" class="form-control form-control-sm text-primary"
                type="text" name="{{field.OrderDetailKey}}" /> </td>

              <td>               
                      {{field.ContainerSize}} </td>
              <td>
                  <select id="drpcontainerType" class="form-control form-control-sm text-primary"
                      aria-placeholder="containerNo" name="{{field.ContainerNo}}" [(ngModel)]="field.ContainerNo">
                      <option value=1>20DRY</option>
                      <option value=2>40DRY</option>
                      <option value=3>40HDRY</option>
                      <option value=4>45HDRY</option>
                      <option value=5>20OPEN</option>
                      <option value=6>40OPEN</option>
                      <option value=7>20FLAT</option>
                      <option value=8>40FLAT</option>
                  </select>
              </td>

              <td>                
                      {{field.Chassis}}
             </td>
              <td> 
               
                      {{field.SealNo}} 
                </td>
              <td> 
                                  
                      {{field.Weight}}
                    </td>
              <td>
                  <input type="text" bsDatepicker [bsConfig]="bsConfig" name="{{field.AppDateFrom}}" 
                      [(ngModel)]="field.AppDateFrom" class="form-control form-control-sm text-primary" />
              </td>
              <td>
                  <input type="text" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="field.ApptDateTo"
                      class="form-control form-control-sm text-primary" name="{{field.ApptDateTo}}" />
              </td>
              <td>                

                      <select id="drpStatus" class="form-control form-control-sm bg-light"  name="{{field.Status}}"
                      [(ngModel)]="field.Status" >
                      <option value=1>In Progress</option>
                      <option value=2>Credit Denied</option>
                      <option value=3>Sent to Scheduler</option>
                      <option value=4>Sent to Dispatch</option>
                      <option value=5>On Hold</option>
                      <option value=6>Sent to Billing</option>
                      <option value=7>Invoice Generated</option>
                      <option value=8>Reviewed</option>
                      <option value=9>Complete</option>
                    </select>
                    </td>
              <td> <input type="text" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="field.StatusDate"
                      class="form-control form-control-sm text-primary" name="{{field.StatusDate}}" /></td>

              <td> 
                      <select id="drpHoldReason" class="form-control form-control-sm bg-light" name="{{field.HoldReason}}"
                      [(ngModel)]="field.HoldReason">
                      <option value=1>No Confirmation From Customer</option>
                      <option value=2>Driver Availability</option>
                      <option value=3>Container Availability</option>
                    </select>
                    </td>
              <td> <input type="text" bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="field.HoldDate"
                      class="form-control form-control-sm text-primary" name="{{field.HoldDate}}" /></td>
              <td>
                  <button class="btn btn-primary btn-pill btn-sm" type="button" (click)="ScheduleFieldValue(field)">Schedule</button>
              </td> -->
          </tr>        
      </tbody>
  </table>
</div>