<br>
<div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2 border-right ScrollStyle">
    <nav class="navbar-default navbar-static-side" role="navigation" *ngIf="DetailsData.length > 0">
      <div class="sidebar-collapse overflow-auto">
        <!-- <ul class="nav metismenu" id="side-menu">
          <li class="nav-header"> Containers
          </li>
          <br>
          <li *ngFor="let list of DetailsData">
            <ul class="fa-ul">
              <li> <img src="assets/img/brand/square-small-icon.png" />
                <a [routerLink]="" class="text-primary">
                  {{ list.ContainerNo }} </a>
              </li>
            </ul>
            
          </li>
        </ul> -->

        <ul class="list-unstyled">
          <li>

            <h5>Containers <span class="badge badge-dark">Recent</span></h5><br>
          </li>
          <li *ngFor="let data of DetailsData">
            <ul>
              <li>
                <p style="font-family:calibri;"><a [routerLink]="" (click)="rowclickEvent(data)">
                    {{ data.ContainerNo }}</a> <span class="badge" *ngIf="selectedKey===data.OrderDetailKey">
                    <img src="assets/img/brand/green_tick16px.png" /> </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h6 class="card-subtitle mb-2" style="color: black">
          <img src="assets/img/brand/overtime24px.png" /> Scheduler</h6>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 ">

      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 text-right">
        <button class="btn btn-primary btn-sm small" type="button" (click)="onSubmit()">Schedule</button>
      </div>
    </div>
    <br>
    <div *ngIf="showScheduler">
      <div class="row" *ngIf="showSchedulerDiv">

        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">AppDate From</span>
                </div>
                <input type="text" placeholder="ApptDate From" class="form-control form-control-sm" name="AppDateFrom"
                  [(ngModel)]="AppDateFrom" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" />
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">AppDate To</span>
                </div>
                <input type="text" placeholder="ApptDate To" class="form-control form-control-sm" name="AppDateTo"
                  [(ngModel)]="AppDateTo" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" />
                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Pickup</span>
                </div>
                <input class="form-control form-control-sm" placeholder="Pickup DateTime" type="text"
                  name="PickupDateTime" [(ngModel)]="PickupDateTime" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                  required />
                <owl-date-time [pickerType]="'both'" #dt3 [hour12Timer]="false"></owl-date-time>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">DropOff</span>
                </div>
                <input class="form-control  form-control-sm" type="text" placeholder="DropOff DateTime"
                  name="DropOffDateTime" [(ngModel)]="DropOffDateTime" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" />
                <owl-date-time [pickerType]="'both'" #dt4></owl-date-time>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Last Free day </span>
                </div>
                <input class="form-control  form-control-sm" type="text" placeholder="Last free day" name="LastFreeDay"
                  [(ngModel)]="LastFreeDay" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" />                 
                <owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Leg Type</span>
                </div>
                <!-- <select id="drpStatus" class="form-control form-control-sm" placeholder="legtype" name="legtype"
                      [(ngModel)]="legtype">
                      <option [(value)]="leg.Value" *ngFor="let leg of statuslist">{{leg.Name}}</option>
                    </select> -->

                <select id="drpStatus" class="browser-default custom-select" placeholder="Legtype" name="Legtype"
                  [(ngModel)]="Legtype">
                  <!-- <option [(value)]="f8ddd2e8-f6f4-11e9-95f6-dbd2245f3061">L</option>
                      <option [(value)]="fa3dbfb8-f6f4-11e9-95f7-978271f9febc">D</option>
                      <option [(value)]="fb93dc9e-f6f4-11e9-95f8-0f4bc41ca26f">D/S</option> -->
                  <option [value]='1'>L</option>
                  <option [value]="2">D</option>
                  <option [value]="3">D/S</option>

                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="SealNo">Driver Notes</label>
                    
                    <textarea class="form-control" rows="3" id="DriverNotes" placeholder="Driver Notes"
                    [(ngModel)]="DriverNotes" name="DriverNotes"></textarea>
                </div>

              <!-- <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"> Driver Notes</span>
                </div>
                <input class="form-control form-control-sm" placeholder="DriverNotes" type="text" name="DriverNotes"
                  [(ngModel)]="DriverNotes" />
              </div> -->
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="SealNo">Scheduler Notes</label>                    
                    <textarea class="form-control" rows="3" id="SchedulerNotes" placeholder="Scheduler Notes"
                    [(ngModel)]="SchedulerNotes" name="SchedulerNotes"></textarea>
                </div>
              <!-- <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"> Scheduler Notes</span>
                </div>
                <input class="form-control form-control-sm" placeholder="SchedulerNotes" type="text"
                  name="SchedulerNotes" [(ngModel)]="SchedulerNotes" />
              </div> -->
            </div>
          </div>
          <!-- 
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Status</span>
                </div>
                <select id="drpStatus" class="form-control form-control-sm" placeholder="Status" name="status"
                  [(ngModel)]="status">
                  <option [(value)]="status.Value" *ngFor="let status of statuslist">{{status.Name}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">             
            </div>
          </div> -->
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6"></div>
            <div class="col-sm-6 col-md-6 col-lg-6"></div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="row">            
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label for="SealNo"> <b> Accounting Options:</b></label>
              <div class="checkbox" *ngFor="let list of itemlist">
                <label>
                  <input type="checkbox" value="{{list.itemkey}}" (change)="onCheckboxChange(list,$event)">
                  {{list.itemid}} </label>
              </div>
            </div>

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                  <!-- <span style="color: white">Order no </span><br> -->
                  <div class="panel-heading">
                    <span class="panel-title" style="color:black">Order No :</span>
                    <span style="color:black"> <b> {{HeaderData.OrderNo}}</b> </span>
                  </div>

                  <!-- <span style="color:white"> Date </span><br> -->
                  <div class="panel-heading">
                    <span class="panel-title" style="color:black">Date :</span>
                    <span style="color:black"> <b> {{HeaderData.OrderDate|date}}</b></span>
                  </div>
                  <br>
                  <!-- <span style="color: white"> Type </span><br> -->
                  <div class="panel-heading">
                    <span class="panel-title" style="color:black">Type :</span>
                    <span style="color: black"> <b> {{HeaderData.ordertypedescription}}</b></span>
                  </div>

                  <div class="panel-heading">
                    <span class="panel-title" style="color:black">Broker :</span>
                    <span style="color: black"> <b> {{HeaderData.BrokerName}} </b></span>
                  </div>
                  <!-- <span style="color:white"> Broker Ref# </span><br> -->
                  <div class="panel-heading">
                    <span class="panel-title" style="color:black">Broker Reference :</span>
                    <span style="color: black"> <b> {{HeaderData.BrokerRefNo}} </b></span>
                  </div>
                  <!-- <span style="color:white"> Booking# </span><br> -->
                  <div class="panel-heading">
                    <span class="panel-title" style="color:black">Booking No :</span>
                    <span style="color: black"> <b> {{HeaderData.BookingNo}} </b></span>
                  </div>

                  <div class="panel-heading">
                    <span class="panel-title" style="color:black">Vessel :</span>
                    <span style="color: black"> <b> {{HeaderData.VesselName}} </b></span>
                  </div>
                  <!-- <span style="color:white"> Bill of Lading </span><br> -->
                  <div class="panel-heading">
                    <span class="panel-title" style="color:black">Bill of Lading : </span>
                    <span style="color: black"> <b> {{HeaderData.BillofLading}} </b></span>
                  </div>
                  <!-- <span style="color:white"> Cut-Off Date </span><br> -->
                  <div class="panel-heading">
                    <span class="panel-title" style="color:black">Cut-Off Date :</span>
                    <span style="color:black"> <b> {{HeaderData.CutOffDate|date}} </b></span>
                  </div>

                </div>

                <div class="col-sm-9 col-md-9 col-lg-9">
                  <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div class="card-header">BillTo</div>
                                <div class="card-body">
                                  <span> {{doHeader.BillToAddressBO.Name}}</span>
                                  <br>
                                  <span> {{doHeader.BillToAddressBO.Address1}}, {{doHeader.BillToAddressBO.Address2}} </span>
                                  <br>
                                  <span> {{doHeader.BillToAddressBO.City}} - {{doHeader.BillToAddressBO.Zip}} </span>
                                  <br>
                                  <span> {{doHeader.BillToAddressBO.State}}</span>
                                </div>
                              </div> -->


                      <div class="panel-heading">
                        <h6 class="panel-title">BillTo</h6>
                      </div>
                      <div class="card alert-secondary text-center p-3">
                        <!-- <blockquote class="blockquote mb-0"> -->
                        <span> {{HeaderData.BillToAddressBO.Name}}</span>
                        <span> {{HeaderData.BillToAddressBO.Address1}}, {{HeaderData.BillToAddressBO.Address2}} </span>
                        <span> {{HeaderData.BillToAddressBO.City}} - {{HeaderData.BillToAddressBO.Zip}} </span>
                        <span> {{HeaderData.BillToAddressBO.State}}</span>
                        <!-- </blockquote> -->
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div class="card-header">Pickup</div>
                                <div class="card-body">
                                  <span> {{doHeader.SourceAddressBO.Name}}</span>
                                  <br>
                                  <span> {{doHeader.SourceAddressBO.Address1}}, {{doHeader.SourceAddressBO.Address2}} </span>
                                  <br>
                                  <span> {{doHeader.SourceAddressBO.City}} - {{doHeader.SourceAddressBO.Zip}} </span>
                                  <br>
                                  <span> {{doHeader.SourceAddressBO.State}}</span>
                                </div>
                              </div> -->
                      <div class="panel-heading">
                        <h6 class="panel-title">Pickup</h6>
                      </div>
                      <div class="card alert-primary text-center p-3">
                        <!-- <blockquote class="blockquote mb-0"> -->
                        <span> {{HeaderData.SourceAddressBO.Name}}</span>
                        <span> {{HeaderData.SourceAddressBO.Address1}}, {{HeaderData.SourceAddressBO.Address2}} </span>
                        <span> {{HeaderData.SourceAddressBO.City}} - {{HeaderData.SourceAddressBO.Zip}} </span>
                        <span> {{HeaderData.SourceAddressBO.State}}</span>
                        <!-- </blockquote> -->
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div class="card-header">Delivery</div>
                                <div class="card-body">
                                  <span> {{doHeader.DestinationAddressBO.Name}}</span>
                                  <br>
                                  <span> {{doHeader.DestinationAddressBO.Address1}}, {{doHeader.DestinationAddressBO.Address2}}
                                  </span>
                                  <br>
                                  <span> {{doHeader.DestinationAddressBO.City}} - {{doHeader.DestinationAddressBO.Zip}} </span>
                                  <br>
                                  <span> {{doHeader.DestinationAddressBO.State}}</span>
                                </div>
                              </div> -->
                      <div class="panel-heading">
                        <h6 class="panel-title">Delivery</h6>
                      </div>
                      <div class="card alert-secondary text-center p-3">
                        <!-- <blockquote class="blockquote mb-0"> -->
                        <span> {{HeaderData.DestinationAddressBO.Name}}</span>
                        <span> {{HeaderData.DestinationAddressBO.Address1}},
                          {{HeaderData.DestinationAddressBO.Address2}}
                        </span>
                        <span> {{HeaderData.DestinationAddressBO.City}} - {{HeaderData.DestinationAddressBO.Zip}}
                        </span>
                        <span> {{HeaderData.DestinationAddressBO.State}}</span>
                        <!-- </blockquote> -->
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <div class="card-header">Return</div>
                                <div class="card-body">
            
                                  <span> {{doHeader.ReturnAddressBO.Name}}</span>
                                  <br>
                                  <span> {{doHeader.ReturnAddressBO.Address1}}, {{doHeader.ReturnAddressBO.Address2}} </span>
                                  <br>
                                  <span> {{doHeader.ReturnAddressBO.City}} - {{doHeader.ReturnAddressBO.Zip}} </span>
                                  <br>
                                  <span> {{doHeader.ReturnAddressBO.State}}</span>
                                </div>
                              </div> -->
                      <div class="panel-heading">
                        <h6 class="panel-title">Return</h6>
                      </div>
                      <div class="card alert-primary text-center p-3">
                        <!-- <blockquote class="blockquote mb-0"> -->
                        <span> {{HeaderData.ReturnAddressBO.Name}}</span>
                        <span> {{HeaderData.ReturnAddressBO.Address1}}, {{HeaderData.ReturnAddressBO.Address2}} </span>
                        <span> {{HeaderData.ReturnAddressBO.City}} - {{HeaderData.ReturnAddressBO.Zip}} </span>
                        <span> {{HeaderData.ReturnAddressBO.State}}</span>
                        <!-- </blockquote> -->
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-warning">
                    <div class="panel-heading">
                      <h6 class="panel-title">Container Detail</h6>
                    </div>
                    <div class="panel-body">
                      <table class="table table-sm alert-warning">
                        <thead>
                          <tr>
                            <th scope="col">Container</th>
                            <th scope="col">Size</th>
                            <th scope="col">Chassis</th>
                            <th scope="col">SealNo</th>
                            <th scope="col">Weight</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{DetailData.ContainerNo}}</td>
                            <td>{{DetailData.ContainerSizeDesc}} </td>
                            <td>{{DetailData.Chassis}}</td>
                            <td>{{DetailData.SealNo}}</td>
                            <td>{{DetailData.Weight}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <!-- <span style="color:black"> Comments </span><br> -->
                  <div class="panel-heading">
                    <h6 class="panel-title">Comments</h6>
                  </div>
                  <div class="card alert-success text-center p-3">
                    <small>
                      <p>{{HeaderData.Comment}}</p>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="showImage">
      <div class="row "> </div>
      <div class="row "> </div>
      <div class="row ">
        <div class="col-md-4"> </div>
        <div class="col-md-4"> <img src="assets/img/brand/Actions-gear-icon128px.png" /></div>
        <div class="col-md-4"> </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="row">
  <div class="col-md-4">
    <input [(ngModel)]="searchText" class="form-control form-control-sm" type="text" placeholder="Search..">
  </div>
</div>
<div class="table-responsive small" *ngIf="DetailsData.length > 0">
  <table id="containerAttributes" class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th>View_Detail</th>
        <th>Container#</th>
        <th>Size</th>
        <th>Chassis#</th>
        <th>Seal#</th>
        <th>Weight</th>
        <th>Appt_DateFrom</th>
        <th>Appt_DateTo</th>
        <th>Pickup_DateTime</th>
        <th>DropOff_DateTime</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let field of DetailsData | grdFilter: {Chassis: searchText,SealNo: searchText, blog: searchText}; let i = index">
       
        <td>
          <a class="btn btn-link" role="button" (click)="rowclickEvent(field)">
            <img src="assets/img/brand/DataViewDetails24px.png" />
            <span class="badge" *ngIf="selectedKey===field.OrderKey">
              <img src="assets/img/brand/symbol-check16px.png" /> </span>
          </a>
        </td>
        <td>
          {{field.ContainerNo}}
        </td>
        <td>
          {{field.ContainerSizeDesc}}
        </td>

        <td>
          {{field.Chassis}}
        </td>
        <td>

          {{field.SealNo}}
        </td>
        <td>

          {{field.Weight}}
        </td>
        <td>
          <input type="text" #model="ngModel" [(ngModel)]="field.AppDateFrom"
            class="form-control form-control-sm bg-dark" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" />
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </td>
        <td>
          <input type="text" #model="ngModel" [(ngModel)]="field.AppDateTo" class="form-control form-control-sm bg-dark"
            [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" />
          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>

        </td>
        <td>
          <input class="form-control form-control-sm" type="text" #model="ngModel" [(ngModel)]="field.PickupDateTime"
            [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" required />
          <owl-date-time [pickerType]="'both'" #dt3 [hour12Timer]="false"></owl-date-time>
        </td>

        <td>
          <input class="form-control form-control-sm" type="text" #model="ngModel" [(ngModel)]="field.DropOffDateTime"
            [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" />
          <owl-date-time [pickerType]="'both'" #dt4></owl-date-time>
        </td>

        <td>
          <select id="drpStatus" class="form-control form-control-sm bg-dark" #model="ngModel"
            [(ngModel)]="field.status">
            <option [(value)]="status.Value" *ngFor="let status of statuslist">{{status.Name}}</option>
          </select>
        </td>

        <td>
          <button class="btn btn-primary btn-sm small" type="button" (click)="onSubmit(field)">Schedule</button>
        </td>      
      </tr>
    </tbody>
  </table>
</div> -->