<div class="cotn_principal">
   <div class="cont_centrar">
     <div class="cont_login">
     <!--   <div class="cont_info_log_sign_up">
           <div class="col_md_login">
              <div class="cont_ba_opcitiy">
                 <h2>LOGIN</h2>  
                  <p>Admin Login Form</p> 
                  <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                 </div>
              </div>
               <div class="col_md_sign_up">
                   <div class="cont_ba_opcitiy">
                     <h2>SIGN UP</h2>
                      <p>Admin Sigup Form</p>
                     <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                    </div>
              </div>
          </div>
              <div class="cont_forms" >
                  <div class="cont_form_login" (ngSubmit)="onSubmit()" method="post">
                      <a onclick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
                       <h2>LOGIN</h2>
                       <input type="text"  required [(ngModel)]="post.email" #email="ngModel"placeholder="Email"/>
                      <input type="password" required [(ngModel)]="post.password" #password="ngModel" placeholder="Password" />
                      <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                  </div>
                   <div class="cont_form_sign_up" method="post">
                       <h2>SIGN UP</h2>
                       <input type="text"  required [(ngModel)]="post.email" #email= "ngModel" placeholder="Email" />
                      <input type="text" required [(ngModel)]="post.user" #user="ngModel" placeholder="User" />
                       <input type="password" required [(ngModel)]="post.password" #password="ngModel" placeholder="Password" />
                       <input type="password" required [(ngModel)]="post.Confirm" #confirm="ngModel" placeholder="Confirm Password" />
                      <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                   </div>
               </div>-->
          </div>
     </div>
  </div>