.tag {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: inline-block;
  }
  
  .tag-default {
    background-color: gray;
  }
  
  .tag-success {
    background-color: green;
  }
  
  .tag-warning {
    background-color: orange;
  }
  
  .tag-danger {
    background-color: red;
  }

  
.ScrollStyle {
  max-height: 600px;
  overflow-y: scroll;
}

.table-custom {
  tbody {
    display: block;
    height: 100px;
    overflow: auto;
  }
  
}
thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }