::ng-deep.bs-datepicker {
  height: 300px;
}

::ng-deep.bs-datepicker-container {
  padding: 0px;
}

.card-header {
  height: 50px;
}

.disabled {
  cursor: not-allowed;
}

.ScrollStyle {
  max-height: 600px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 100%;
    max-width: 1200px;
  }
}

div.a {
  line-height: normal;
}

// th {
//   // background-color: rgb(130, 174, 192);
//   background-color: rgb(66, 81, 88);
//   color: white;
// }

span.font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  letter-spacing: 1.2px;
  word-spacing: 2.8px;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.tag {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.tag-default {
  background-color: gray;
}

.tag-success {
  background-color: green;
}

.tag-warning {
  background-color: orange;
}

.tag-danger {
  background-color: red;
}

.table-custom {
  tbody {
    display: block;
    height: 200px;
    overflow: auto;
  }
  
}
thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
